<card-container [title]="'users.all' | translate" [addBtn]="permissionService.canAdd.user" (onAdd)="onAdd()">
    <grid [pagedRows]="users" (onLazyLoad)="loadUsers($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowDelete]="permissionService.canDelete.user" (onDelete)="onDelete($event)"
          [allowActivate]="permissionService.canActivate.user" (onActivate)="onActivate($event)"
          [allowDeactivate]="permissionService.canDeactivate.user"  (onDeactivate)="onDeactivate($event)"
          [allowView]="permissionService.canView.userProfile" (onView)="onView($event)"
          [hasIsActive]="true" />
</card-container>


<app-user-form [showDialog]="showDialog && permissionService.canEdit.user" 
[user]="user" (onSave)="loadUsers(queryParams)" 
(onCancel)="showDialog = false" />
