<div class="sidebar" id="sidebar">
    <p-scrollPanel [style.height]="'90vh'">

        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>{{ 'mainMenu' | translate }}</span>

                    <li routerLinkActive="active" *ngIf="permissionService.canViewSideNav.families">
                        <a routerLink="/families">
                            <i class="fas fa-house-user"></i>
                            <span>{{ 'families.all' | translate }}</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </p-scrollPanel>
</div>