<card-container [title]="'families.all' | translate" [addBtn]="permissionService.canAdd.family" (onAdd)="onAdd()">
    <grid [pagedRows]="families" (onLazyLoad)="loadFamilies($event)" 
          [columns]="columns" [pageSize]="10" [paginator]="true" [showFilters]="true"
          [allowDelete]="permissionService.canDelete.family" (onDelete)="onDelete($event)"
          [allowActivate]="permissionService.canActivate.family" (onActivate)="onActivate($event)"
          [allowDeactivate]="permissionService.canDeactivate.family"  (onDeactivate)="onDeactivate($event)"
          [allowView]="permissionService.canView.familyProfile" (onView)="onView($event)"
          [hasIsActive]="true" />
</card-container>


<app-family-form [showDialog]="showDialog && permissionService.canEdit.family" 
[family]="family" (onSave)="loadFamilies(queryParams)" 
(onCancel)="showDialog = false" />
